@{
    ViewData["Title"] = "Home Page";
}

<h2 class="text-primary">Welcome to Dog Shelter, a place where you can extend your family with loyal new member :D</h2>

<div id="carouselWithControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="~/images/1.family-in-forest-with-dog.jpg" class="d-block height="800" width="800" alt="Slide 1">
    </div>
    <div class="carousel-item">
      <img src="~/images/2.family-on-beach-with-dogs.jpg" class="d-block height="800" width="800" alt="Slide 2">
    </div>
    <div class="carousel-item">
      <img src="~/images/3.kid-with-two-dogs.jpg" class="d-block height="800" width="800" alt="Slide 3">
    </div>
    <div class="carousel-item">
      <img src="~/images/4.outdoor-family-with-dog.jpg" class="d-block height="800" width="800" alt="Slide 4">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselWithControls" role="button" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselWithControls" role="button" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </a>
</div>
<br />

<body>
    <div>
        <p>
            People who own a pup might rave about how great it is, but the human-animal relationship has rewards that can be scientifically proven. The benefits of owning a dog go beyond companionship. Owning a dog can actually reduce your risk of certain health problems. 
        </p>
        <p>Pet owners can enjoy the following:</p>

        <div class="accordion" id="accordionExample1">
          <div class="accordion-item">
            <h2 class="accordion-header" id="heading1">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1" aria-expanded="false" aria-controls="collapse1">
                  Dogs help you stay active
              </button>
            </h2>
            <div id="collapse1" class="accordion-collapse collapse hide" aria-labelledby="heading1" data-bs-parent="#accordionExample1">
              <div class="accordion-body">
                Man’s best friend often needs to run and play in order to stay healthy and active, requiring dog owners to engage in at least some sort of physical activity with them. Even if you don’t consider physical activity with your dog as proper exercise, you can still count this leisure time as a health benefit.
                A study in Western Canada found that men and women who took their canine companion out regularly engaged in roughly 300 minutes of walking per week compared to non-dog owners who only exercised half as much.
                Playing fetch with your dog using a stick or a ball can even be enough to improve your heart rate and help to burn a few calories. Overall, many people who own a dog note that it’s helped them to spend more time outside and even lose some weight.
                Even if you aren’t trying to make changes to your physique, regular cardiovascular activity can help you to have more energy and improve your overall health and wellness. If you can’t own a dog, you can still reap these health benefits (and make money) by becoming a dog walker or volunteering at a boarding kennel or shelter.

              </div>
            </div>
         </div>

         <div class="accordion" id="accordionExample2">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                  Dogs can help reduce risk of heart attack and heart disease
              </button>
            </h2>
            <div id="collapse2" class="accordion-collapse collapse hide" aria-labelledby="headingTwo" data-bs-parent="#accordionExample2">
              <div class="accordion-body">
                The American Heart Association concluded a study in 2013 that explored the relationship between cardiovascular disease and those who owned a furry friend. A group of 182,000 heart attack survivors were interviewed—only 6% of them owned a dog. 
                The study also explored if living alone with a dog made any difference compared to living alone without a pet. It turns out that individuals have a 33% better chance at surviving a cardiac event at home after hospitalization if they own a dog. 
              </div>
            </div>
         </div>

         <div class="accordion" id="accordionExample3">
          <div class="accordion-item">
            <h2 class="accordion-header" id="heading3">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                  Dogs can help reduce triglyceride levels
              </button>
            </h2>
            <div id="collapse3" class="accordion-collapse collapse hide" aria-labelledby="heading3" data-bs-parent="#accordionExample3">
              <div class="accordion-body">
                Medical professionals have found that dog owners tend to have lower levels of triglycerides, a type of fat found in the blood, compared to non-pet owners.
                Typically, a person’s diet, BMI, or whether they smoke can make an impact, but in the group of individuals they studied, none of these were factors that contributed to the change. However, at this time, it’s unclear exactly why owning a dog can influence one’s triglyceride levels.
              </div>
            </div>
         </div>

         <div class="accordion" id="accordionExample4">
          <div class="accordion-item">
            <h2 class="accordion-header" id="heading4">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                  Dogs can help reduce cholesterol levels
              </button>
            </h2>
            <div id="collapse4" class="accordion-collapse collapse hide" aria-labelledby="headingOne" data-bs-parent="#accordionExample4">
              <div class="accordion-body">
                Perhaps the simple act of playing outside or going for a walk with your dog is enough to make a radical change in your cholesterol, as researchers can’t attribute people’s improved health to any other cause. 
                Similarly to the lowering of triglycerides, it’s not clear why owning a dog makes such a huge impact on heart health, but study after study points to the same conclusion.
              </div>
            </div>
         </div>

         <div class="accordion" id="accordionExample5">
          <div class="accordion-item">
            <h2 class="accordion-header" id="heading5">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
                  Dogs can help lower blood pressure levels naturally
              </button>
            </h2>
            <div id="collapse5" class="accordion-collapse collapse hide" aria-labelledby="heading5" data-bs-parent="#accordionExample5">
              <div class="accordion-body">
                In addition to encouraging people to get outside and integrate more physical activity into their lives, dogs have another unique way of positively impacting their owner’s health. Doctors have noticed that individuals who own dogs tend to naturally exhibit lower blood pressure levels.
                Many believe it’s related to the calming effect that dogs can have—after all, there’s nothing better than snuggling up with your four-legged best friend.
              </div>
            </div>
         </div>

         <div class="accordion" id="accordionExample6">
          <div class="accordion-item">
            <h2 class="accordion-header" id="heading6">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
                 Dogs can help lower stress levels
              </button>
            </h2>
            <div id="collapse6" class="accordion-collapse collapse hide" aria-labelledby="heading6" data-bs-parent="#accordionExample6">
              <div class="accordion-body">
                Whether you’re worried about the financial impact of coronavirus or are concerned about your toddler’s most recent tantrum, life can be stressful! While many health professionals might point to stress reduction techniques like yoga or medication, owning a dog can be equally beneficial.
                <br />
                Pet ownership can top the list when it comes to ways to relax, making your pooch a valuable asset to your own mental health. “Sharing a few minutes with a pet will minimize anxiety and [lower] blood pressure and raise serotonin and dopamine rates, two neurochemicals that play a major role in relaxation and well-being,” shares Vikram Taragu, MD.
              </div>
            </div>
         </div>

         <div class="accordion" id="accordionExample7">
          <div class="accordion-item">
            <h2 class="accordion-header" id="heading7">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse7" aria-expanded="false" aria-controls="collapse7">
                  Dogs can help fight loneliness
              </button>
            </h2>
            <div id="collapse7" class="accordion-collapse collapse hide" aria-labelledby="heading7" data-bs-parent="#accordionExample7">
            <div class="accordion-body">
            Speaking of living alone, many people find that loneliness in adulthood is a very real challenge—and that’s not even taking into consideration social distancing from COVID-19. Owning a dog can increase your social interactions, as taking your furry friend to the dog park or around the block for a walk can open up opportunities to meet new people. 
            <br />
            One British study found that 4 out of 5 dog owners speak with others while they’re outside with their four-legged family members. Another group noted that among older adults, pet owners were 36% less likely to report feelings of loneliness compared to their counterparts who had no animals at home.
            <br />
            Even if your canine companion doesn’t take you out of the home much, you can still enjoy a boost of oxytocin from a short snuggle session. “Owning a dog can help to aid the feelings of isolation and loneliness by just their mere presence and unconditional love,” describes Christie Kederian, a licensed marriage and family therapist.
            “Often, people find joy from pets because of that unconditional love and simplicity that are missing from some complex family dynamics and friendships,” she says.
              </div>
            </div>
         </div>

         <div class="accordion" id="accordionExample8">
          <div class="accordion-item">
            <h2 class="accordion-header" id="heading8">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse8" aria-expanded="false" aria-controls="collapse8">
                  Service dogs can save lives and help people live more independently
              </button>
            </h2>
            <div id="collapse8" class="accordion-collapse collapse hide" aria-labelledby="heading8" data-bs-parent="#accordionExample8">
              <div class="accordion-body">
                There is a difference between emotional support dogs and service dogs. An emotional support dog provides its owner with companionship whereas a service dog is trained to help people with disabilities.
                According to Assistance Dogs International, 48% of service dogs were trained for people with mobility impairment, 19% were trained for veterans with PTSD, and 23% were trained for people with autism. The other 9% of service dogs were trained for people with diabetes, seizures, psychiatric support, and medical alert services. 
                <br />
                Recently, service dogs have also been trained to support Alzheimer’s patients not only through companionship but also through search and rescue tracking in the event that their owner gets lost as well as tethering, which is helpful for keeping their owner closeby in public spaces and crowded environments.
              </div>
            </div>
         </div>

         <div class="accordion" id="accordionExample9">
          <div class="accordion-item">
            <h2 class="accordion-header" id="heading9">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse9" aria-expanded="false" aria-controls="collapse9">
                  Docs can help bolster your microbiome
              </button>
            </h2>
            <div id="collapse9" class="accordion-collapse collapse hide" aria-labelledby="heading9" data-bs-parent="#accordionExample9">
              <div class="accordion-body">
                It’s also been noted that owning a dog can help to boost your microbiome, as your immune system is naturally strengthened by sharing a home with a canine companion. Exposing yourself to the different bacteria that dogs naturally possess has a diversifying effect on your internal flora.
                While at first it sounds counterintuitive, owning a dog may even help children with allergies and asthmatic symptoms in the same way. Of course, there are also many hypoallergenic dog breeds to choose from.
              </div>
            </div>
         </div>
</body>