@model DogShelterWeb.Models.Category

@{
    ViewData["Title"] = "Create";
}

<h1>Delete dog from table </h1>

<br />
<form method="post">
    <div class="row">
        <div class="col-md-4">
            <form asp-action="PostDelete">

                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name"  value=@ViewBag.Name disabled class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Age" class="control-label"></label>
                    <input asp-for="Age" value=@ViewBag.Age disabled class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Dog_Breed" class="control-label">Dog Breed</label>
                    <input asp-for="Dog_Breed" value=@ViewBag.Dog_Breed disabled class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="DateArrived" class="control-label">Date Arrived</label>
                    <input asp-for="DateArrived"  value=@ViewBag.DateArrived disabled class="form-control" />
                </div>

                <table>
                     <div class="btn-group" role="group" aria-label="Basic example">
                        <tr>
                            <td><button type="submit" class="btn btn-danger btn-lg" style="width:150px">Delete</button></td>
                            <td>&nbsp;</td>
                            <td><a asp-controller="DogRecord" asp-action="Index" class="btn btn-primary btn-lg" style="width:150px">Return to DogRecord</a></td>
                        </tr>
                    </div>
                </table>

            </form>
        </div>
    </div>
</form>

